/* Base styles */
body, html {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  background-image: url('/img/background-img.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* The form container */
.form-container {
  width: 50%;
  margin: 0;
  padding: 10px;
  justify-content: center;
}

/* Style the input fields */
input[type=text], input[type=email], input[type=tel], input[type=date] {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/* Style the form rows */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Adjust the gap between the input fields */
}

/* Style the submit button */
input[type=submit] {
  background-color: #0C2866;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: auto;
  align-self: center;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #0C2866;
}

/* Responsive layout */
@media (max-width: 800px) {
  body, html {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    background-image: url('/img/background-mobile.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .form-container {
    width: 100%;
    margin-top: 0;
  }
}
